<nz-layout>
    
        
           <div class="flex w-full">
            <mat-toolbar>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                 <mat-icon>menu</mat-icon>
               </button>
               <span>Vote App</span>
               <span class="example-spacer"></span>
             
               <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
              </button>
             </mat-toolbar>
           </div>
        
    


    <nz-content>
        <div class="Flex justify-center items-center h-96 w-96 mt-20">
            <div class="grid content-center">
                <p> Bienvenido</p>
            </div>
        </div>
    </nz-content>
    <nz-footer>
        <p>Universidad del area andina</p>
    </nz-footer>
  </nz-layout>